.customization {
  background-color: rgb(154, 197, 247);
  width: 100%;
  font-size: 16px;
}
.customization .nameselection {
  position: relative;
  top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.customization .nameselection label {
  font-weight: 500;
  font-size: 14px;
}
.customization .nameselection input {
  text-align: center;
  width: 200px;
  height: 20px;
  border-radius: 8px;
  font-size: 18px;
}
.customization .mainplay {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.customization .mainplay label {
  color: black;
}
.customization .mainplay .characterselect {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customization .mainplay .characterselect div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 214);
  color: orange;
  margin: 10px;
  cursor: pointer;
  min-width: 80px;
  font-size: 14px;
}
.customization .mainplay .characterselect div:hover {
  background-color: rgb(218, 67, 67);
}
.customization .mainplay .characterselect div.selected {
  border: 2px solid orange;
}
.customization .mainplay .findgame {
  margin-left: 40px;
  padding: 10px;
  width: 60%;
  height: 100%;
  background-color: rgb(86, 121, 235);
}
.customization .mainplay .findgame .characterselectcontainer {
  height: 150px;
}
.customization .mainplay .findgame div {
  margin: 5px;
}
.customization .mainplay .findgame .boatform {
  background-color: antiquewhite;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
}
.customization .mainplay .findgame .boatform input {
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
}
.customization .mainplay .findgame .boatform .chooseBoatNames {
  background-color: rgb(72, 72, 235);
  border: 4px solid rgb(12, 12, 212);
  border-radius: 4px;
  color: orange;
  padding: 10px;
  cursor: pointer;
}
.customization .mainplay .findgame .boatform form {
  display: flex;
  flex-direction: column;
}
.customization .mainplay .findgame .boatform form label {
  font-weight: 500;
}
.customization .mainplay .findgame .boatform form label:nth-child(2) {
  color: rgb(54, 90, 6);
}
.customization .mainplay .findgame .boatform form label:nth-child(4) {
  color: rgb(129, 81, 7);
}
.customization .mainplay .findgame .boatform form label:nth-child(6) {
  color: rgb(27, 44, 197);
}
.customization .mainplay .findgame .boatform form label:nth-child(8) {
  color: rgb(179, 14, 28);
}
.customization .mainplay .findgame .boatform .boatfields {
  display: flex;
  flex-direction: column;
}
.customization .mainplay .findgame .boatform .boatfields h4 {
  color: rgb(40, 63, 194);
  margin: 10px;
}
.customization .mainplay .lobby .characterselectcontainer {
  height: 120px;
  font-size: 14px;
}/*# sourceMappingURL=Customization.module.css.map */